# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Environment files
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Python build
build/
dist/
*.egg-info/

# Node
node_modules/